@font-face {
  font-family: "keepOnTruckin";
  src: url('../../Font/KeeponTruckin.ttf');
}

.Header {
  background-color: rgb(255,59,59, 0.6);
  height: auto;
  /* width: 100%; */
  color: white;
  font-family: 'keepOnTruckin', sans-serif;
  text-align: center;
  border-radius: 4px;
}

/* .col-2 {
  width: 13.3333333333%;
} */

/* .col-8 {
  width: 65.3333333333%;
} */
